body {
    margin: 0;
    background-image: url('https://images.freeimages.com/images/large-previews/0b9/carpet-texture-1183128.jpg');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    background: #181a1b;
    width: 8px;
}

 ::-webkit-scrollbar-track {
    border-radius: 4px;
}

 ::-webkit-scrollbar-thumb {
    background: #373B47;
    border-radius: 4px;
}